In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib as mp

In [ ]:
dataset=pd.read_csv('C:/Users/Toni Di Shaka/Desktop/Py/titanic/test.csv')

In [ ]:
dataset.shape
#dataset has 418rows and 11columns

In [ ]:
#print 10 first rows
a=dataset.head(10)
a

In [ ]:
#check datatypes
dataset.dtypes

In [ ]:
#get summary
dataset.info()

In [ ]:
#select ages of passengers
ages=dataset[['Age']]

In [ ]:
#get passengers below 18years
below_18=dataset[dataset["Age"]<18]
below_18.shape

In [ ]:
#passengers above 50
above_50=dataset.loc[dataset["Age"].isin([50]),"Name"]
above_50

In [ ]:
#get rows 21to35 and column 1to5
dataset.iloc[20:35,0:5]

In [ ]:
ages.plot()

In [ ]:
#get average age
dataset["Age"].mean()

In [ ]:
#get min and max age using .agg
dataset.agg({'Age':['min','max']})

In [ ]:
#Average age of male and female using .groupby
dataset[["Sex","Age"]].groupby("Sex").mean()

In [ ]:
#find number of female and male
dataset[["Sex","Embarked"]].groupby("Sex").count()